<!DOCTYPE html>
<html>
<body>
<div class="home-container">
    <div class="username-hand-gesture-container">
        <img src="https://logodix.com/logo/1297770.png" class="hand-gesture-home-icon"/>
        <h1 class="username-home">{{username}}</h1>
     
    </div>
    
     <div class="home-btn">
        <button class="get-started-btn" (click)="getStarted()">Get Started</button>
     </div>
    <div class="home-sub-container">
    <h1 class="home-heading">What we provide</h1>
    <p class="home-para">
        The Trade File Management System is a platform that 
        allows users to upload trade-related files, 
        store extracted data in a database, 
        and manage file records. Users can upload files in various formats such as CSV, Excel, or JSON, and the system processes the data to store it securely. The system provides features to update trade records, delete unnecessary files, and search for specific file loads using 
        various filters. It ensures 
        security with authentication 
        and role-based access control, 
        allowing only authorized users to make changes.
    </p>
    </div> 
    <hr/>
   <div class="home-sub-container">
    <h1 class="home-heading">How To Use</h1>
    <ol class="order-list">
      <li>Login to the System – Users must authenticate to access file management features.</li>
      <li>Upload a File – Select a trade file (CSV, Excel, JSON) and submit it for processing.</li>
      <li>Data Extraction & Storage – The system reads the file, extracts key trade data, and stores it in the database.</li>
      <li>Search for a File – Use filters like file name, date, or trade ID to find specific records.</li>
      <li>Update Trade Data – Modify trade records and save changes securely.</li>
      <li>Delete Files or Records – Remove unnecessary files while maintaining data integrity.</li>

    </ol>
   </div>
     <hr/>
    <div class="home-sub-container">
    <h1 class="home-heading">Technology Implemented</h1>
    <div class="tech-container">
        <h1>🚀 Backend: Spring Boot</h1>
        <h1> 📊 Database: MySQL</h1>
        <h1>  🎨 Frontend: Angular </h1>
        <h1> 🔒 Security: JWT Authentication</h1>
    </div>
   </div> 
 

</div>
<div class="footer">
    <div class="footer-container">
        <div>
            <img src="https://dynamic.design.com/asset/logo/62121d53-7ccb-4908-9d28-51abe6f1908c/logo-search-grid-2x?logoTemplateVersion=1&v=638827166201470000&text=TradeSync+Solutions&colorpalette=purple" class="footer-img"/>
            <div>
                <img src="https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_google-128.png" class="social-media-icon"/>
                <img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_facebook-128.png" class="social-media-icon"/>
                <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-128.png"class="social-media-icon" />
            </div>
            <p>37, Vignaya Nagar, Hyderabad ,Telangana,India.</p>
        </div>
        <div>
            <h4>Contact Us</h4>
            <div class="contact-icon-text-container">
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-128.png" class="contact-us-images"/>
                <p class="contact-text">TradeSyncgmail.com</p>
            </div>
            <div class="contact-icon-text-container">
                <img src="https://cdn3.iconfinder.com/data/icons/feather-5/24/phone-128.png" class="contact-us-images"/>
                <p class="contact-text">9328188181</p>
            </div>
            <div class="contact-icon-text-container">
                <img src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Skype-128.png" class="contact-us-images"/>
                <p class="contact-text">Trade Sync</p>
            </div>
        </div>
        <div>
            <h4>Let Us Help You</h4>
            <p>100% Protection</p>
            <p>Your Accounts</p>
            <p>Return Center</p>
            <p>Help</p>
        </div>

    </div>

    <hr/>
    <div class="footer-img-container">
        <img src="https://cdn3.iconfinder.com/data/icons/font-awesome-solid/512/copyright-128.png" class="copyright-icon"/>
        <p class="footer-para">2025 by Balaji. Created With Angular🚀.</p>
    </div>
</div> 
</body>
</html>