*{
    box-sizing:border-box;
    font-family:"Roboto";
  }
  .login-1{
    background-image:linear-gradient(#ffc533,#ffbf1f);
    color:#334155;
    height:60vh;
    width:30vw;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
    padding:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow:auto;
  }
  .login1-heading{
    font-family:"Roboto";
    font-weight:bold;
    color:#ffc533;
  }
  .login-2{
      background-color:#0f172a;
      height:60vh;
      width:30vw;
      border-top-right-radius:16px;
      border-bottom-right-radius:16px;
      display:flex;
      flex-direction:column;
      justify-content:center;
      padding:15px;
  }
  .login-component{
      display:flex;
      flex-direction:row;
      justify-content:center;
  }
  .file-trade-image{
    width:100%;
    border-radius:8px;
    height:280px;
  }
  .login-1-container{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
  }
  .login-image{
     width:270px;
     height:72px;
     border-radius:4px;
     padding-bottom:10px;
  }
  .login-2-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:5px;
  }
  .form-label-input{
    display:flex;
    flex-direction:column;
    padding:8px;
  }
  .login-label-style{
    color:#000000;
    padding-bottom:5px;
    font-weight:bold;
    
  }
  .login-input-style{
    width:260px;
    padding:8px;
    outline:none;
    font-weight:600;
    border-width:0px;
    border-radius:4px;
    border:2px solid #000000;
  }
  .login-btn{
    background-color:#272c47;
    width:260px;
   color:#ffbf1f  !important 
  }
  .newuser-signup-container{
    display:flex;
    justify-content:center;
  }
  .new-user-text{
    color:#000000;
    padding:0px;
    margin:0px;
    margin-right:8px
  }
  .sign-up-btn{
    color:#000000;
    font-weight:bold;
    padding:0px;
    cursor:pointer;
  }
  .warning-msg{
    color:red;
    margin:0px;
  }
  .admin-box{
    position:fixed;
    top: 30vh;
    width:30vw;
    height:40vh;
    background-color:#334155;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .admin-heading{
    color:#ffffff;
    margin:10px;
  }
  .admin-label{
    color:red;
    margin:10px;
  }
  .admin-input{
    padding:8px;
    margin:10px;
  }
  .register-successfull-box{
    position:fixed;
    background-image:linear-gradient(to right,#F0A1A1,#B5B0A5,#F0BD24,#E5DDEB);
    display:flex;
    flex-direction:row;
    left:82vw;
    padding:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
  }
  .right-img{
     width:20%;
  }
  .user-successfully-heading{
    font-family:"Roboto";
    font-size:15px;
    font-weight:bold;
  }
  .admin-wrong-icon{
    width:30px;
    height:30px;
    align-self:flex-end;
  }
  @media(max-width:992px){
    .login-2{
      display:none;

    }
    .login-1{
      border-radius:20px;
      width:80%;
    }
    .admin-box{
      width:80%;
    }
  }